*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    height: 100vh;
    background-image: linear-gradient(yellow,orange);
    padding-bottom: 70px;
}
.box1{
    display: flex;
    justify-content:center;
    align-items: center;
width: 100%;
height: 100vh;
gap: 20px;
}
.nav4>img{
    width: 600px;
    min-height: 500px;
    padding-top: 60px;
    margin-left: 80px;
   
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color:rgba(0, 0,0,0.5);
    color: white;
    padding: 25px;
    position: fixed;
    width:90%;
    left: 5%;
    top: 5%;
    border-radius: 20px;
}
.nav .s,input{
    display: none;
}
.nav1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
    padding-left: 30px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 40px;
    font-size: 25px;
    padding-bottom:10px;
}
.nav2>:hover{
    color: black;
    cursor: pointer;
}
.nav3{
    padding: 10px 10px 10px 30px;
    font-style: italic;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}
.nav3>p{
    width: 80%;
    padding: 15px;
    font-size: 25px;
}
.nav3>h1{
    font-size: 100px;
}
.nav3>h3{
    font-size: 50px;
}
.box2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}
.box3{
    width: 50%;
    height: 405px;
    background-image: linear-gradient(black,orange);
    padding: 10px 10px 10px 20px;
}
img{
    width: 300px;
    height: 300px;
}
.nav5{
    color:white;
}
.bar{
    padding: 10px 10px 10px 150px;
}
.nav6{
    color: white;
}
.bar2{
    display: flex;
    background-image: linear-gradient(red,black);
    height: 200px;
    margin-bottom: 5px;
}
.bar3>img{
    width: 200px;
    height: 200px;
}
.box4{
    height:200px;
    display: flex;
    background-image: linear-gradient(brown,black);
}
.nav7{
    color: white;
}
.nav8>img{
    width: 200px;
    height: 180px;
}
.nav9{
    
    width: 150px;
    height: 40px;
    margin-top: 10px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose{
    line-height: 30px;
}
.choose>h1{
    text-align: center;
    padding:30px;
}
.choose>p{
    font-size: 18px;
}
.three{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 30px;
    padding: 30px;
}
.three1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 10px red;
}
.three2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 10px red;
}
.three3{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 10px red;
}
.three3>h3{
    color: brown;
}
.three1>h3{
    color: brown;
}
 .three2>h3{
    color: brown;
}
.three,.three1,.three2>p{
    color: black;
}
.three1>.buy{
    width: 100px;
    height: 40px;
    border: none;
    background-color: red;
    font-size: 20px;
    color: white;
}
.buy1{
    width: 100px;
    height: 40px;
    border: none;
    background-color: red;
    font-size: 20px;
    color: white;
}
.buy2{
    width: 100px;
    height: 40px;
    border: none;
    background-color: red;
    font-size: 20px;
    color: white;
}
.two{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: none;
    padding-left: 50px;
    padding-bottom: 70px;
}
.two1{
    width: 50%;
    height: 300px;
    line-height: 40px;
    font-size: 20px;
}
.two2{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
}
.two1>h4{
    color:brown;
}
.two1>h1{
    color:brown;
}
.book{
    position: relative;
    width: 100%;
    padding-bottom: 200px;
    text-align: center;
   background-color: white;
   background-image: url(./res.jpg);
   background-position: center;
   object-fit: cover;

}
.book h2,h3{
    padding: 10px;
    color: white;
}
.table0{
    padding-top: 20px;
    width: 100%;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
}
 .table0 .input-type{
    width: 350px;
    padding: 10px;
    border-radius: 25%;
    font-size: 15px;
    font-weight: 3px;
    color: black;
}
.table0 .table1,.table2,.table3{
    display: flex;
    gap: 7px;
}
.table3 button{
    width:350px ;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 7px red;
    color: white;
    font-weight: bold;
    background-color: orangered;
} 
.book img{
    position: absolute;
    top: 30%;
    left: 5%;
    height: 200px;
    width: 200px;
}
.iteams{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 70px;
}
.iteam{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.iteam1,.iteam2,.iteam3,.iteam4,.iteam5,.iteam6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div{
    background-image:linear-gradient(orangered,white,green);
    padding-bottom: 200px;
}
.comedy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    margin-top: 20px;
}
.comedy>img{
    width: 100px;
    height: 100px;
}
.contact{
    width: 100%;
    height: 30vh;
    border: 2px solid black;
    background-image: linear-gradient(black,brown);
}
.con2{
    display: flex;
    gap: 300px;
    /* padding-bottom: 40px; */
}
.con{
    padding: 30px;
    color: white;
}
.con1{
    padding: 45px;
    font-size: 15px;
    color: white;
}
.four{
    float: right;
    padding: 20px;
    color: white;
}
.four>i{
    width: 30px;
    height: 30px;
}
@media screen and (min-width:300px) and (max-width:500px) {
    .box{
        width: 100%;
    }
    .nav2{
        position: fixed;
        flex-direction: column;
        justify-content: start;
        padding: 30px 0px 0px;
        left: -500px;
        width: 320px;
        top: 90px;
        height: 100vh;
        background-color: var(--green);
        align-items: center;
        transition: 1s;
        font-size: 40px;
    }
    input:checked~.nav2{
        left: 0px;
    }
    .nav .s{
        display: block;
    }
    
}






